# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Database
instance/
*.db

# Environment Variables
.env

# Firebase
firebase-service-account.json

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

migrations/
*.db
*.sqlite
*.sqlite3